.agentName{
    font-size: 50px;
}
.radioMargin{
    margin-bottom: 0px;
}

/* .modal{
    @supports (display: grid) {
        @media (min-width: 576px)
        {
            max-width: 1000px;
        }
    }
} */